
coup/__pycache__/human_player.cpython-38.pyc
coup/__pycache__/Markus.cpython-38.pyc
coup/__pycache__/Coup.cpython-38.pyc
coup/__pycache__/Trey.cpython-38.pyc
coup/__pycache__/Beef.cpython-38.pyc
coup/__pycache__/Data_Demo_Beef.cpython-38.pyc
*.pyc
*.coup
*.pkl
